/*
 The following is the webfont Modern Pictograms
 http://thedesignoffice.org/project/modern-pictograms/
 Included via OFL
*/

@font-face {
  font-family: 'ModernPictogramsNormal';
  src: url(font-path('modernpics-webfont.eot'));
  src: url(font-path('modernpics-webfont.eot') + '?#iefix') format('embedded-opentype'),
  url(font-path('modernpics-webfont.woff')) format('woff'),
  url(font-path('modernpics-webfont.ttf')) format('truetype'),
  url(font-path('modernpics-webfont.svg') + '#ModernPictogramsNormal') format('svg');
  font-weight: normal;
  font-style: normal;

}

.mod-pict {
  font-family: ModernPictogramsNormal;
  font-size: 12pt;
}

